@import url("https://fonts.googleapis.com/css?family=Montserrat:700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(to right, hsl(240, 10%, 84%), hsl(237, 68%, 65%));
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  /* width: 60%; */
  margin: 0 10%;
  margin-top: 4%;
}
header {
  text-align: center;
}
header {
  font-size: 50px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
}
button {
  font-family: "Montserrat", sans-serif;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 50px 20px rgba(111, 133, 182, 0.13);
  border: 1.5px solid white;
  font-size: 18px;
  cursor: pointer;
  color: hsl(237, 38%, 55%);
  padding: 1rem 2rem;
}
a {
  color: #fff;
  text-decoration: none;
}

.signup a {
  color: hsl(237, 57%, 67%);
}
header button a:hover {
  color: white;
}
button:hover {
  border-color: 1px white;
  background: none;
}

.box {
  font-family: "Montserrat", sans-serif;
  border-radius: 15px;
  width: 320px;
  margin: 2rem;
  padding: 40px;
  box-shadow: 0 50px 20px rgba(111, 133, 182, 0.13);
  border: 1.5px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.box:hover {
  background-color: white;
  border: white;
  color: #fff;
  cursor: pointer;
}

.box:hover a {
  color: hsl(237, 57%, 67%);
}

/* @media (max-width: 1100px) {
  .block {
    width: 700px;
  }
}

@media (max-width: 800px) {
  .block {
    width: 500px;
  }
} */

.signUpPage {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: white;
}
.signupFrm {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 15%;
}
.form {
  background-color: white;
  padding: 3rem;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  box-shadow: 0 20px 30px rgba(102, 112, 121, 0.2);
}

.title {
  font-size: 30px;
}

.input {
  /* width: 2rem; */
  width: 100%;
}
.conditions {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  opacity: 0.8;
}

.inputBox {
  width: 60%;
  margin-bottom: 10px;
  /* padding: 4rem 8rem; */
  /* display: flex;
  align-items: center;
  justify-content: center; */
}
.signupButton button {
  background: none;
  border: 1px solid hsl(237, 38%, 55%);
  width: 100%;
  font-size: 15px;
  margin: 0;
}
.signupButton button:hover {
  background-color: hsl(237, 38%, 55%);
  color: white;
}
